*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(65, 62, 62);
  }

  header {
    margin-top: 50px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out, padding 0.4s;
  }
  
  .menu ul li a:hover {
    background-color: rgba(161, 4, 4, 0.5);
    padding: 10px 15px;
    
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  #foto-cabecalho {
    display: block;
    margin: 50px auto 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(97, 9, 9);
    filter: blur(3px);
    transition: filter 1s, width 1s, height 1s;
  }
  #foto-cabecalho:hover{
    width: 230px;
    height: 230px;
    filter: blur(0px);
  }
  
  h4 {
    color: rgb(97, 9, 9);
    margin-bottom: 0;
  }
  
  #titulo-nome {
    color: rgb(131, 0, 0);
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
  
  h3 {
    color: rgb(97, 9, 9);
    margin-bottom: 0;
    padding: 0;
  }
  
  .conteudo {
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 10px;
  }
  
   
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 3px;
        margin-top: 50px;
               
      }
      .social-icons {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: center;
      }
      
      .social-icons li {
        margin: 0 10px;
      }
      
      .social-icons li a {
        color: white;
        font-size: 20px;
      }
      
      .social-icons li a:hover {
        color: rgb(97, 9, 9);
      }
      .projeto-link {
        font-size: 1.2em;
        font-weight: bold;
        color: #530000;
        text-decoration: none;
        border-bottom: 2px solid #8a1a1a;
        padding-bottom: 2px;
        transition: border-bottom-color 0.2s ease;
      }
      
      .projeto-link:hover {
        border-bottom-color: #8a2929;
      }

      p{
        color:#e2e2e2;
        margin-top: 0;
        margin-bottom: 0;
      }
      .p-principal{
        font-size: 12px;
        margin-top: 0;
      }
      .p-info{
        font-size: 10px;
        color: rgb(167, 167, 167);
        margin-top: 0;
        margin-bottom: 0;
      }
      .lista-skills{
        font-size: 10px;
        color: rgb(167, 167, 167);
      }
      li{
        color:#e2e2e2;
        font-size: 12px;
      }

      ul{
        margin-top: 0;
        padding-top: 0;
      }
      #titulo-projetos {
        font-size: 40px;
        text-align: center;
        color: rgb(131, 0, 0);
        margin-bottom: 0;
        margin-top: 10px;
    }

      iframe{
        margin-left: 35%;
        margin-top: 0;
        padding-top: 0;
        filter: blur(3px);
        transition: filter 1s;
        
      }
      iframe:hover{
        filter: blur(0px);
      }
      
